# Laravel specific files and directories
node_modules/
public/hot/
public/storage/
storage/*.key
vendor/
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Docker and development-related files
.idea
.gitignore
.gitattributes
.sass-cache

# Ignore general files and directories
.git
node_modules
vendor
.env
.env.*
*.log
*.sql

# Ignore development and testing files
docker-compose*
Dockerfile*
phpunit.xml
phpunit-*.xml
phpunit-*.dist.xml


# Ignore user-specific files
Homestead.yaml
Homestead.json
