.idea
node_modules
src/bootstrap/cache
src/public/hot
src/public/storage
src/storage/*.key
src/app/Policies
vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
.env.backup
.phpunit.result.cache

/.idea
/.vscode
docker-compose.yml
docker-compose.yml.production